<template>
    <div id="app">
        <b-container>
            <input type="file" name="jsonFile" id="" ref="jsonFile" @change="loadTextFromFile">
        </b-container>

        <template v-if="fileContent">
            <b-container class="">


                <b-row >

                    <b-col cols="4">

                        <div class="mail--container">

                            <ul v-for="(con, idx) in fileContent" @click="selectRow(con)" :key="idx">
                                <li>

                                    <span class="mail--title">
                                        {{idx}} - {{ con.code}}

                                    </span>
                                    <span class="mail--desc" >
                                        {{ con.description }}
                                    </span>
                                </li>
                            </ul>

                        </div>

                    </b-col>

                    <b-col cols="8" >
                        <b-row class="mb-4">

                            current template:
                            <span class="ml-2" v-if="this.currentTemplate">
                                <b-badge variant="info"> {{ this.currentTemplate }} </b-badge>
                            </span>
                        </b-row>

                        <b-row >
                            <b-col ref='mailContent' ></b-col>
                        </b-row>
                    </b-col>


                </b-row>
            </b-container>

        </template>

    </div>
</template>

<script>
    import MainComponent from "./components/MainComponent.vue";


    export default {
        components: {
            MainComponent
        },
        data() {
            return {
                fileContent: null,
                currnetBody: null,
                primaryTemplate: null,
                currnetSubject: null,
                currentTemplate: null,
                newBody:null
            };
        },
        methods: {
            loadTextFromFile(ev) {
                const file = ev.target.files[0];
                const reader = new FileReader();

                reader.onload = e => {
                    this.fileContent = JSON.parse(e.target.result);
                };
                reader.readAsText(file);
            },
            selectRow(con) {

                this.currnetBody = con.bodyTemplate;
                this.currnetSubject = con.subjectTemplate;
                this.currentTemplate = con.code;

                if (con.code === "PRIMARY_TEMPLATE") {
                    this.primaryTemplate = con.bodyTemplate;
                    this.setMailBody(con.bodyTemplate);
                } else {
                    this.replaceSubjects();
                    this.setMailBody(this.newBody)

                }
            },
            replaceSubjects() {
                this.replaceImgSever();
                this.newBody = this.primaryTemplate.replace(/{subject}/g , this.currnetSubject).replace(/{content}/g , this.currnetBody)
            },
            replaceImgSever() {
                this.primaryTemplate = this.primaryTemplate.replace(/{imageServer}/g , 'http://cdn.sodexo.pl/img/');
            },
            replaceContent(){
            },
            replaceHeader(){
              let imgTag =  /(<img src="(.*?)" )/g;
              let srcAtrr = /(src="(.*?)")/g;
              
              let imgsTaken = this.primaryTemplate.match(imgTag);

              imgsTaken.forEach(el => {

                let filename = /([a-z])*.gif/gi;

                let file = el.match(filename)[0];
                
                console.log(el.match(imgTag)[0]);
                console.log(el.replace(srcAtrr, `src="/static/select/sodexo/mailing/assets/${file}"`));
                console.log(this.primaryTemplate.match(el.match(imgTag)[0]));
                this.newBody = this.primaryTemplate.match(el.match(imgTag)[0])
                

              });
            },

            setMailBody(body) {
                
                this.$refs.mailContent.innerHTML = body;
            }
        },
        created() {
            console.log("created");
        }
    };
</script>

<style >
    ul {
        list-style: none;
        margin: 0 15px;
        padding: 0;

    }
    ul:hover {
        cursor: pointer;
    }
    .mail--title {

        border-bottom: 1px solid lightseagreen;
        width: 100%;
        display: block;
        padding: 5px;
    }
    .mail--desc {
        font-size: 0.8em;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
    }
    .mail--desc:hover {
        background-color: lightseagreen;
        color: white;
    }
    div.mail--container {
        height: 80vh;
        overflow: auto;
        border: 1px solid lightgray;
        border-radius: 3px;
    }


</style>